.ProgressBar-outer {
  width: 85%;
}

.ProgressBar-bar {
  height: 30px !important;
  width: 100%;
}

.ProgressBar-title {
  width: 20%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
