
/* Hoverable tooltip circle */
.Tooltip-circle {
  display: inline-block;
  opacity: 0.9;
  position: relative;
  cursor: pointer;
}

/* Container for hidden tooltip div */
.Tooltip-container {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  background: #f5f5f5;
  color: black;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  z-index: 6000000000;
  width: max-content;
  min-width: 10vw;
  max-width: 30vw;
  box-shadow: 1px 1px lightgray;
  transition: visibility 0.5s, opacity .5s linear; 
}

/* Make container visible on hover */
.Tooltip-circle:hover .Tooltip-container {
  visibility: visible;
  opacity: 1;
}

/* Increase opacity on hover */
.Tooltip-circle:hover {
    opacity: 1;
}

/* Tooltip arrow */
.Tooltip-container::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

/* Tooltip help bar */
.Tooltip-help-bar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-weight: bold;
  font-size: 13px;
  color: white;
  vertical-align: middle;
  padding: 2px 0 2px 5px;
  border-radius: 4px 4px 2px 2px;
}

/* Button linked to onOpenHelp function */
.Tooltip-help-button {
  margin-left: 20px;
  border-radius: 4px;
  font-size: 12px !important;
  border-style: solid;
  margin: 2px 2px 2px 20px;
}

/* Tooltip text */
.Tooltip-text {
  padding: 5px;
}
